@media screen and (min-width: 480px) {
    /****************************
    GENERAL
    ****************************/

    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 0.875em;
        margin-bottom: 10px;
    }



    /****************************
    PAGE: PORTFOLIO
    ****************************/

    #gallery li {
        width: 28.3333%;
    }

    #gallery li:nth-child(4n) {
        clear: left;
    }



    /****************************
    PAGE: CONTACT
    ****************************/

    #primary-c {
        width: 50%;
        float: left;
        margin-right: 10%;
    }

    #secondary-c {
        width: 40%;
        float: right;
    }
}



@media screen and (min-width: 660px) {
    /****************************
    GENERAL
    ****************************/

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
        margin-bottom: 15px;
    }

    header {
        border-bottom: 15px solid #599a68;
        margin-bottom: 30px;
    }

    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%
    }

    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%
    }



    /****************************
    PAGE: ABOUT
    ****************************/

    #primary-a {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        float: left;
        margin-right: 15%;
    }

    #secondary-a {
        display: inline-block;
        vertical-align: middle;
        float: right;
        width: 50%;
        margin-right: 5%;
    }



    /****************************
    FOOTER
    ****************************/

    .social-icon {
        width: 30px;
        height: 30px;
    }
}


@media screen and (min-width: 1000px) {
    /****************************
    GENERAL
    ****************************/

    h1 {
        font-size: 2.125em;
    }

    h2 {
        font-size: 1.125em;
        margin-bottom: 20px;
    }



    /****************************
    FOOTER
    ****************************/

    .social-icon {
        width: 35px;
        height: 35px;
    }
}
